.imageContainer img {
            width: 100%;
            max-width: 350px;
            height: auto;
	margin-bottom:10px;
}
table td {
        
            padding: 10px;
            
        }
 td img {
            width: 100%;
            max-width: 200px;
            height: 100%;
        }
 .container {
            width: 1100px;
            background-color: lightgray;
            padding: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }
table {
            width: 100%;
            border-style: double;
            
        }
td.middleColumn {
            width: 600px;
        }

